@charset "utf-8";
.hidden{display:none;}

a{color:#1a88c7;}

/******** S @noscript *********/
.noscript {
	background:#FFFF90;
	border-bottom:1px solid #DDDDDD;
	color:#444;
	text-align:center;
}
.noscript .wrapper {
	background:url(../images/i_notice.gif) no-repeat 20px 50%;
	padding: 12px 0;
}
/******** E @noscript *********/

/******** S @icon *********/
.icon, .icon-white, .form-label-icon {
	display:inline-block;
	vertical-align:middle;
	background-image: url("../images/glyphicons-halflings.png");
}
.icon {
	width:15px;
	height:15px;
	font-size:0;
	line-height:0;
	overflow:hidden;
}
.icon-white {
	background-image: url("../images/glyphicons-halflings-white.png");
}
.icon-text {
	color:#777;
}
.icon-text-arrow {
	font-size:10px;
}
.icon-glass {
	background-position: 0 0;
}
.icon-music {
	background-position: -24px 0;
}
.icon-search {
	background-position: -48px 0;
}
.icon-envelope {
	background-position: -72px 0;
}
.icon-heart {
	background-position: -96px 0;
}
.icon-star {
	background-position: -120px 0;
}
.icon-star-empty {
	background-position: -144px 0;
}
.icon-user {
	background-position: -168px 0;
}
.icon-film {
	background-position: -192px 0;
}
.icon-th-large {
	background-position: -216px 0;
}
.icon-th {
	background-position: -240px 0;
}
.icon-th-list {
	background-position: -264px 0;
}
.icon-ok {
	background-position: -288px 0;
}
.icon-remove {
	background-position: -312px 0;
}
.icon-zoom-in {
	background-position: -336px 0;
}
.icon-zoom-out {
	background-position: -360px 0;
}
.icon-off {
	background-position: -384px 0;
}
.icon-signal {
	background-position: -408px 0;
}
.icon-cog {
	background-position: -432px 0;
}
.icon-trash {
	background-position: -456px 0;
}
.icon-home {
	background-position: 0 -24px;
}
.icon-file {
	background-position: -24px -24px;
}
.icon-time {
	background-position: -48px -24px;
}
.icon-road {
	background-position: -72px -24px;
}
.icon-download-alt {
	background-position: -96px -24px;
}
.icon-download {
	background-position: -120px -24px;
}
.icon-upload {
	background-position: -144px -24px;
}
.icon-inbox {
	background-position: -168px -24px;
}
.icon-play-circle {
	background-position: -192px -24px;
}
.icon-repeat {
	background-position: -216px -24px;
}
.icon-refresh {
	background-position: -240px -24px;
}
.icon-list-alt {
	background-position: -264px -24px;
}
.icon-lock {
	background-position: -287px -24px;
}
.icon-flag {
	background-position: -312px -24px;
}
.icon-headphones {
	background-position: -336px -24px;
}
.icon-volume-off {
	background-position: -360px -24px;
}
.icon-volume-down {
	background-position: -384px -24px;
}
.icon-volume-up {
	background-position: -408px -24px;
}
.icon-qrcode {
	background-position: -432px -24px;
}
.icon-barcode {
	background-position: -456px -24px;
}
.icon-tag {
	background-position: 0 -48px;
}
.icon-tags {
	background-position: -25px -48px;
}
.icon-book {
	background-position: -48px -48px;
}
.icon-bookmark {
	background-position: -72px -48px;
}
.icon-print {
	background-position: -96px -48px;
}
.icon-camera {
	background-position: -120px -48px;
}
.icon-font {
	background-position: -144px -48px;
}
.icon-bold {
	background-position: -167px -48px;
}
.icon-italic {
	background-position: -192px -48px;
}
.icon-text-height {
	background-position: -216px -48px;
}
.icon-text-width {
	background-position: -240px -48px;
}
.icon-align-left {
	background-position: -264px -48px;
}
.icon-align-center {
	background-position: -288px -48px;
}
.icon-align-right {
	background-position: -312px -48px;
}
.icon-align-justify {
	background-position: -336px -48px;
}
.icon-list {
	background-position: -360px -48px;
}
.icon-indent-left {
	background-position: -384px -48px;
}
.icon-indent-right {
	background-position: -408px -48px;
}
.icon-facetime-video {
	background-position: -432px -48px;
}
.icon-picture {
	background-position: -456px -48px;
}
.icon-pencil {
	background-position: 0 -72px;
}
.icon-map-marker {
	background-position: -24px -72px;
}
.icon-adjust {
	background-position: -48px -72px;
}
.icon-tint {
	background-position: -72px -72px;
}
.icon-edit {
	background-position: -96px -72px;
}
.icon-share {
	background-position: -120px -72px;
}
.icon-check {
	background-position: -144px -72px;
}
.icon-move {
	background-position: -168px -72px;
}
.icon-step-backward {
	background-position: -192px -72px;
}
.icon-fast-backward {
	background-position: -216px -72px;
}
.icon-backward {
	background-position: -240px -72px;
}
.icon-play {
	background-position: -264px -72px;
}
.icon-pause {
	background-position: -288px -72px;
}
.icon-stop {
	background-position: -312px -72px;
}
.icon-forward {
	background-position: -336px -72px;
}
.icon-fast-forward {
	background-position: -360px -72px;
}
.icon-step-forward {
	background-position: -384px -72px;
}
.icon-eject {
	background-position: -408px -72px;
}
.icon-chevron-left {
	background-position: -432px -72px;
}
.icon-chevron-right {
	background-position: -456px -72px;
}
.icon-plus-sign {
	background-position: 0 -96px;
}
.icon-minus-sign {
	background-position: -24px -96px;
}
.icon-remove-sign {
	background-position: -48px -96px;
}
.icon-ok-sign {
	background-position: -72px -96px;
}
.icon-question-sign {
	background-position: -96px -96px;
}
.icon-info-sign {
	background-position: -120px -96px;
}
.icon-screenshot {
	background-position: -144px -96px;
}
.icon-remove-circle {
	background-position: -168px -96px;
}
.icon-ok-circle {
	background-position: -192px -96px;
}
.icon-ban-circle {
	background-position: -216px -96px;
}
.icon-arrow-left {
	background-position: -240px -96px;
}
.icon-arrow-right {
	background-position: -264px -96px;
}
.icon-arrow-up {
	background-position: -289px -96px;
}
.icon-arrow-down {
	background-position: -312px -96px;
}
.icon-share-alt {
	background-position: -336px -96px;
}
.icon-resize-full {
	background-position: -360px -96px;
}
.icon-resize-small {
	background-position: -384px -96px;
}
.icon-plus {
	background-position: -408px -96px;
}
.icon-minus {
	background-position: -433px -96px;
}
.icon-asterisk {
	background-position: -456px -96px;
}
.icon-exclamation-sign {
	background-position: 0 -120px;
}
.icon-gift {
	background-position: -24px -120px;
}
.icon-leaf {
	background-position: -48px -120px;
}
.icon-fire {
	background-position: -72px -120px;
}
.icon-eye-open {
	background-position: -96px -120px;
}
.icon-eye-close {
	background-position: -120px -120px;
}
.icon-warning-sign {
	background-position: -144px -120px;
}
.icon-plane {
	background-position: -168px -120px;
}
.icon-calendar {
	background-position: -192px -120px;
}
.icon-random {
	width: 16px;
	background-position: -216px -120px;
}
.icon-comment {
	background-position: -240px -120px;
}
.icon-magnet {
	background-position: -264px -120px;
}
.icon-chevron-up {
	background-position: -288px -120px;
}
.icon-chevron-down {
	background-position: -313px -119px;
}
.icon-retweet {
	background-position: -336px -120px;
}
.icon-shopping-cart {
	background-position: -360px -120px;
}
.icon-folder-close {
	width: 16px;
	background-position: -384px -120px;
}
.icon-folder-open {
	width: 16px;
	background-position: -408px -120px;
}
.icon-resize-vertical {
	background-position: -432px -119px;
}
.icon-resize-horizontal {
	background-position: -456px -118px;
}
.icon-hdd {
	background-position: 0 -144px;
}
.icon-bullhorn {
	background-position: -24px -144px;
}
.icon-bell {
	background-position: -48px -144px;
}
.icon-certificate {
	background-position: -72px -144px;
}
.icon-thumbs-up {
	background-position: -96px -144px;
}
.icon-thumbs-down {
	background-position: -120px -144px;
}
.icon-hand-right {
	background-position: -144px -144px;
}
.icon-hand-left {
	background-position: -168px -144px;
}
.icon-hand-up {
	background-position: -192px -144px;
}
.icon-hand-down {
	background-position: -216px -144px;
}
.icon-circle-arrow-right {
	background-position: -240px -144px;
}
.icon-circle-arrow-left {
	background-position: -264px -144px;
}
.icon-circle-arrow-up {
	background-position: -288px -144px;
}
.icon-circle-arrow-down {
	background-position: -312px -144px;
}
.icon-globe {
	background-position: -336px -144px;
}
.icon-wrench {
	background-position: -360px -144px;
}
.icon-tasks {
	background-position: -384px -144px;
}
.icon-filter {
	background-position: -408px -144px;
}
.icon-briefcase {
	background-position: -432px -144px;
}
.icon-fullscreen {
	background-position: -456px -144px;
}
/******** E @icon *********/
.assist {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0
}
/******** E @text *********/

/******** S @list *********/
.list-unstyled {
	list-style:none;
	padding:0;
	margin:0
}
.list-inline {
	list-style:none;
	padding:0;
	margin:0
}
.list-inline li {
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
}
/******** E @list *********/


/******** S @form *********/
.input-text:hover, .select:hover, .textarea:hover, .select-title:hover, .input-text-hover {
	border-color:#999;
	color:#444;
}
.input-text:focus, .select:focus, .textarea:focus, .input-text-focus {
	border-color:#3D9970;
	color:#444;
}
.input-radio, .input-checkbox {
	vertical-align:middle;
}
.radio-text, .checkbox-text {
	margin-left:5px;
	margin-right:10px;
}
.input-text, .select, .textarea {
	border:1px solid #ccc;
	border-radius:2px;
	-moz-transition: .3s;
	-o-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
	color:#666;
	padding:5px;
	vertical-align:middle;
}
.textarea {
	height:80px;
	width:500px;
}
.select-box {
	position:relative;
	width:200px;
	height:26px;
	display:inline-block;
	vertical-align:top;
}
.select-title {
	border:1px solid #ddd;
	border-radius:2px;
	height:26px;
	line-height:26px;
	overflow:hidden;
}
.select-title-focus {
	border-color:#F63;
	box-shadow:0 0 3px #FF8C00;
}
.select-text {
	float:left;
	padding:0 5px;
}
.select-title .icon-text-arrow {
	background:#f8f8f8;
	border-left:1px solid #ddd;
	position:absolute;
	right:1px;
	top:1px;
	width:26px;
	text-align:center;
	text-shadow:1px 1px 0 #fff;
}
.select-options {
	background-color:#fff;
	border:1px solid #ddd;
	margin-top:-1px;
	box-shadow:0 1px 2px #ddd;
}
.options-item {
	padding:0 5px;
}
.options-item:hover {
	background:#3399ff;
	color:#fff;
}
.form-group {
}
.form-item {
	padding-top:5px;
	padding-bottom:5px;
	position:relative;
}
.form-element {
	line-height:30px;
}
.form-element img {
	vertical-align:middle;
}
.form-grid .form-label {
	float:left;
	text-align:right;
	width:100px;
	line-height:30px;
}
.form-grid .form-element {
	float:left;
}
.form-label-icon {
	font-size:0;
	line-height:0;
	text-indent:-999px;
	overflow:hidden;
	width:15px;
	height:15px;
	position:absolute;
}
.placeholder-text {
	color:#9a9a9a;
	position:absolute;
	left:0;
	top:0;
}
/* 禁用样式 */
.disabled {
	border:1px solid #ddd;
}
/* 按钮样式 */
.btn, .btn span {
	background:none;
	border:none;
	cursor:pointer;
	text-align:center;
	white-space:nowrap;
	font-size:14px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	font-family:"Microsoft YaHei";
}
.btn span {
	border:1px solid #ccc;
	border-radius:3px;
	background:#ebebeb;
	display:inline-block;
	line-height:30px;
}
.btn span span {
	border:none;
	padding-left:15px;
	padding-right:15px;
}
.btn:hover span {
	background-color:#e0e0e0;
	color:#333;
	text-decoration:none
}
.btn-default span {
	color:#333;
	background-color:#fff;
	border-color:#ccc
}
.btn-default:hover span {
	background-color:#f8f8f8;
}
.btn-default .badge {
	color:#fff;
	background-color:#fff
}
.btn-primary span {
	color:#fff;
	background-color:#428bca;
	border-color:#357ebd
}
.btn-primary:hover span {
	color:#fff;
	background-color:#4286c1;
}
.btn-primary .badge {
	color:#428bca;
	background-color:#fff
}
.btn-warning span {
	color:#fff;
	background-color:#f0ad4e;
	border-color:#eea236
}
.btn-warning:hover span {
	color:#fff;
	background-color:#ed9c28;
	border-color:#d58512
}
.btn-warning .badge {
	color:#f0ad4e;
	background-color:#fff
}
.btn-danger span {
	color:#fff;
	background-color:#d9534f;
	border-color:#d43f3a
}
.btn-danger:hover span {
	color:#fff;
	background-color:#d2322d;
	border-color:#ac2925
}
.btn-danger .badge {
	color:#d9534f;
	background-color:#fff
}
.btn-success span {
	color:#fff;
	background-color:#3d9970;
	border-color:#378964
}
.btn-success:hover span {
	color:#fff;
	background-color:#42a478;
	border-color:#3d9970
}
/******** E @form *********/


/******** S @panel *********/
.panel {
	background-color:#fff;
	border:1px solid #ddd;
	border-radius:8px;
	box-shadow:0 0 3px #999;
}
.panel-heading {
	background-color:#f8f8f8;
	padding:20px;
	border-radius:8px 8px 0 0;
}
.panel-heading .title {
	font-size:20px;
	font-family:"Microsoft YaHei";
	font-weight:normal;
}
.panel-body {
	padding:20px;
}
.panel-footer {
	background-color:#f8f8f8;
	padding:20px;
	border-radius:0 0 8px 8px;
}
/******** E @panel *********/

/******** E @clearfix *********/
.clearfix:after, .form-item:after, .modal-header:after {
	content:".";
	clear:both;
	display:block;
	font-size:0;
	line-height:0;
	height:0;
	overflow:hidden;
}
/******** E @clearfix *********/

/******** S @ie-fix ********/
.input-radio, .input-checkbox {
	_margin-top:-4px;
}
.form-grid .input-radio, .form-grid .input-checkbox {
	 *margin-top:-4px;
	_margin-top:3px;
}
.list-inline li, .select-box, .btn, .icon, .icon-white, .form-label-icon {
 	*display:inline;
	zoom:1;
}
.opacity {
	filter:Alpha(opacity=70);
}
.ie {
	color:#000\9; /* ie9- */
	*color:#ddd; /* ie7- */
	_color:#fff; /* ie6- */
}
/* clearfix */
.clearfix, .form-item, .modal-header {
	zoom:1;
}
/******** E @ie-fix ********/


.login-bg {
	background-color:#bee1f5;
}
.panel-login {
	width:320px;
	position:absolute;
	left:50%;
	margin-left:-160px;
	top:50%;
	margin-top:-180px;
	box-shadow:none;
	border:none;
}
.panel-login .panel-heading {
	background-color:#3d9970;
	border-bottom:3px solid #2e805c;
	text-align:center;
}
.panel-login .title {
	color:#fff;
}
.panel-login .panel-body {
	background-color:#eaeaea;
}
.panel-login .input-text {
	padding:12px 8px 12px 30px;
	border-radius:0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	*width:240px;
}
.panel-login .btn {
	width:100%;
}
.panel-login .btn span {
	display:block;
	line-height:40px;
	font-size:16px;
}
.form-group-login .form-label-icon {
	left:10px;
	top:18px;
	*top:20px;
}
.form-group-login .form-item-username .form-label-icon {
	background-position: -168px 0;
}
.form-group-login .form-item-password .form-label-icon {
	background-position: -287px -24px;
}
.form-group-login .form-item-checkcode .input-text{width:100px;padding:8px;}
.form-group-login .form-item-checkcode .img-checkcode{margin-left:10px;margin-right:10px;}
.form-group-login .validate-text{display:block;height:30px;line-height:30px;}
.form-group-login .placeholder-text{left:32px;top:12px;*top:13px;}
.form-group-login .icon-remove{cursor:pointer;position:absolute;right:10px;top:18px;}
.forgot-password{margin-top:5px;}
.see-another{color:#666;display:inline-block;*display:inline;zoom:1;width:40px;line-height:18px; vertical-align:middle;}